{% extends 'base.html.twig' %}

{% block title %}Espace membre{% endblock %}

{% block body %}
    <div class="container my-5">
        {% include 'account/_menu.html.twig' %}
    </div>
{% endblock %}
