{% extends 'base.html.twig' %}

{% block title %}Espace membre{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1>Espace membre privé</h1>
        <h3>Modification de mon mot de passe</h3>
        <hr>
        {{ form(updatePasswordForm) }}
    </div>
{% endblock %}
