{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1>Inscription</h1>
        <hr>
        {{ form_start(formRegister, {'attr': {'data-turbo': 'false'}}) }}
            {{ form_widget(formRegister) }}
            <button type="submit" class="btn btn-success">S'inscrire</button>
        {{ form_end(formRegister) }}
    </div>
{% endblock %}
